
@import "partial/media-queries";
@import "partial/index";
@import "partial/quienes_somos";
@import "partial/metodos-de-perforacion";
@import "partial/tecnologia";

* {
    margin: 0;
    padding: 0;

}
