
@mixin mobile {
    @media screen and (max-width: 480px){
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 769px) and (min-width:481px) {
        @content;
    }
}
header {
    h2 {
        color: white;
        font-size: 3rem;
    }
    h3 {
        color: #FCF596;
        font-size: 1.8rem;
        margin-bottom: 25px ;
    }
}
main {
    .titularc {
        color: #948160;
        margin: 25px;
    }
}
@include mobile {
    header {
        .header-top {
            h2 {
                font-size: 2rem;
            }
            h3 {
                font-size: 1.4rem;
                padding: 10px;
            }
            img {
                margin: 10px;
                height: 80px;
                width: 80px;
             }
        }
        .header-nav {
            ul {
                li {
                    a {
                        font-size: 0.7rem;
                    }
                }
            }
            
        }
    }
    
}
@include tablet {
    header {
        .header-top {
            h1 {
                font-size: 1.8rem;
            }
            p {
                font-size: 1.2rem;
                padding: 7px;
            }
            img {
                margin: 10px;
                height: 80px;
                width: 80px;
             }
        }
        .header-nav {
            ul {
                li {
                    a {
                        font-size: 0.71rem;
                    }
                }
            }
            
        }
    }
    
}
@include desktop {
    header {
        .header-top {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
                padding: 7px;
            }
            img {
                margin: 10px;
                height: 80px;
                width: 80px;
             }
        }
        .header-nav {
            ul {
                li {
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
            
        }
    }
}