@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

@mixin titulos () {
        margin: 10px;
        font-size: 1.5rem;
        font-family: "Special Gothic Expanded One", sans-serif;
}
@mixin parrafos () {
        font-size: 1.5rem;
        color: #263238;
}
header {
    background: #948160;
    color: white;  
    .header-top {
        display: flex;
        flex-direction: column;
        text-align: center;
        h1 {
            font-family: "Special Gothic Expanded One", sans-serif;
            margin-bottom: 5px;
            font-size: 35px;   
        }
        img {
            display: flex;
            align-items: center;
            height: 100px;
            width: 100px;
            border-radius: 45px 45px 45px 45px;
            margin: 25px 0 0 25px;
        }
        p{
            font-family: "tinos", serif;
            font-weight: 500;
            font-size: 23px;
            color: #FCF596;
            margin-bottom: 25px;
        }
    }
    .header-nav{
        display: flex;
        justify-content: center;
        gap: 1rem;
        text-align: center;
        a{
            color: #fff;
            text-decoration: none;
            align-content: center;
            padding: 1rem 1rem;
            margin-bottom: 15px;
            background-color: #4C4B16;
            border-radius: 5px;
            font-size: 14px;
            
        }
        a:hover{
            background-color: #6b6a25;
        }
    }
}
@include mobile {
    header {
        .header-top {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1.4rem;
                padding: 10px;
            }
            img {
                margin: 10px;
                height: 80px;
                width: 80px;
             }
        }
        .header-nav {
            a {
                padding: 9px;
                font-size: 1rem;
            }
        }
    }
    
}

///Presentacion index

main {
    .img_fondo{
        width: 100%;
        height: 500px;
        background-image: url(/media/montana-fondo.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .grid-card{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 1fr);
        padding: 40px 0 40px 0;
        gap: 30px;
        background-color: #fcf9f5;
        .card-box1 {
            grid-column: 1/5;
            grid-row: 1/3;
            text-align: center;
            padding: 20px;
            margin: 15px 0 15px 0;
            h2{
                font-size: 3rem;
                font-family: "Special Gothic Expanded One", sans-serif;
            }
            p {
                font-size: 1.6rem;
                margin-top: 10px;
            }
            .leter {
                color: #263238;
                font-size: 1.6rem;
                & :hover{
                    font-size: 2rem;
                    color: #7c7b34;
                }
            }
        }
        .card-box2 {
            grid-column: 1/3;
            grid-row: 3/5;
            text-align: center;
            padding: 20px;
            margin: 15px 0 15px 0;
            h2{
                font-size: 3rem;
                font-family: "Special Gothic Expanded One", sans-serif;
            }
            p {
                font-size: 1.5rem;
            }
        }
        .card-box3 {
            grid-column: 3/5;
            grid-row: 5/7;
            text-align: center;
            padding: 20px;
            margin: 15px 0 15px 0;
            h2{
                font-size: 3rem;
                font-family: "Special Gothic Expanded One", sans-serif;
            }
            p {
                font-size: 1.5rem;
            }
        }
        .card-box4 {
            grid-column: 1/3;
            grid-row: 7/9;
            text-align: center;
            padding: 20px;
            margin: 15px 0 15px 0;
            h2{
                font-size: 3rem;
                font-family: "Special Gothic Expanded One", sans-serif;
            }
            p {
                font-size: 1.5rem;
            }
        }
        .card-box5 {
            grid-column: 1/5;
            grid-row: 9/11;
            text-align: center;
            padding: 20px;
            margin: 15px 0 15px 0;
            h2{
                font-size: 3rem;
                font-family: "Special Gothic Expanded One", sans-serif;
            }
            p {
                font-size: 1.5rem;
            }
            .leter {
                position: relative;
                color: #263238;
                font-size: 1.4rem;
                & :hover{
                    font-size: 2rem;
                    color: #7c7b34;
                }
            }
        }
    }
}
@include mobile {
    main {
        .img_fondo{
            width: auto;
            height: 150px;
            background-image: url(/media/montana-fondo.jpg);
            background-position: center;
            background-repeat: no-repeat;
        }
        .grid-card {
            display: flex;
            flex-direction: column;
            align-content: center;
            .card-box1 {
                padding: 5px;
                h2{
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                    padding: 0 8px 0 8px;
                }
                .leter {
                    color: #263238;
                    font-size: 1.4rem;
                }
            }
            .card-box2 {
                padding: 5px;
                h2{
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                }
            }
            .card-box3 {
                padding: 5px;
                h2{
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                    padding: 0 8px 0 8px;
                }
            }
            .card-box4 {
                padding: 5px;
                h2{
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                    padding: 0 8px 0 8px;
                }
            }
            .card-box5 {
                padding: 5px;
                h2{
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                    padding: 0 8px 0 8px;
                }
                .leter {
                    color: #263238;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
    
   
//box litidero y metalifero

.div1 {
    h2 {
        margin: 25px 0 30px 0;
        text-align: center;
        font-size: 32px;
        font-family: "Special Gothic Expanded One", sans-serif;
    }
}
.parent { 
    display: flex;
    justify-content: space-around;
    font-family: "Comic Neue";
    text-align: center;
    .div2 {
        h4{
            @include titulos()
        }
        img {
            width: 550px;
            height: 390px;
            border-radius: 10px;
            box-shadow: 7px 8px 14px 3px rgba(128,125,125,0.65);
        }
        p {
            @include parrafos()
        }
    }
    .div3 {
        h4{
            @include titulos()
        }
        img {
            width: 550px;
            height: 390px;
            border-radius: 10px;
            box-shadow: -7px 8px 14px 3px rgba(128,125,125,0.65);
        }
        p{
            @include parrafos()
        }
    }
}
@include mobile {
    main {
        .div1 {
            h2 {
                font-size: 2rem;
            }
        }
        .parent{
            display: flex;
            flex-direction: column;
            .div2 {
                h4 {
                    font-size: 1.2rem;
                }
                img {
                    width: 320px;
                    height: 280px;
                    box-shadow: none;
                }
                p {
                    font-size: 1rem;
                }
            }
            .div3 {
                h4 {
                    font-size: 1.2rem;
                }
                img {
                    width: 320px;
                    height: 280px;
                    box-shadow: none;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
    
}
.container-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    h5 {
        font-family: "Special Gothic Expanded One", sans-serif;
        color: black;
        font-size: 30px;
        padding: 10px; 
    }
    p {
        @include parrafos()
    }
}
@include mobile {
    main {
        .container-videos {
            h5 {
                font-size: 1.4rem;
                margin-top: 10px;
            }
            p {
                margin-bottom: 10px;
            }
        }
    }  
}
footer {
    background-color: #948160;
    .footer-container {
        display: flex;
        justify-content: space-around;
        .footer-top-1{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            h5 {
                margin: 15px;
                color: white;
                font-size: 1.5rem;
            }
            a {
                text-decoration: none;
                color: #FCF596;
                margin: 10px;
                font-size: 1.2rem;
            }
        }
        .footer-top-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                padding: 25px;
                color: white;
            }
        }
        .footer-top-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            h5 {
                margin: 15px;
                color: white;
                font-size: 1.5rem;
            }
            a {
                text-decoration: none;
                color: #FCF596;
                font-size: 1rem;
                margin: 10px;
            }
            p {
                color:#263238;
                margin: 5px;
                font-size: 1.2rem;
            }
        }
    }
    .footer-copy {
        text-align: center;
    }
}
@include mobile {
    footer {
        .footer-container{
            display: flex;
            flex-direction: column;
           .footer-top-1{
            h5 {
                margin: 8px;
                color: white;
                font-size: 1rem;
            }
            a {
                text-decoration: none;
                color: #FCF596;
                margin: 5px;
                font-size: 0.8rem;
            }
           } 
        }
        .footer-top-2 {
            display: flex;
            justify-content: space-around;
            a {
                margin: 8px;
            }
        }
        .footer-top-3 {
           h5 {
            font-size: 1rem;
           }
           p {
            font-size: 0.8rem;
           } 
        }
        .footer-copy{
            font-size: 0.6rem;
            text-align: center;
            margin-top: 10px;        
        }      
    }
}


