@mixin mobile {
    @media screen and (max-width: 480px){
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 769px) and (min-width:481px) {
        @content;
    }
}
.tecno {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 25px;
    justify-items: center;
    margin-bottom: 35px;
    .div1-tecno {
        grid-column: 1/8;
        grid-row: 1/2;
        align-content: center;
        font-family:"Special Gothic Expanded One", sans-serif;
        font-size: 1.8rem;
    }
    .div2-tecno {
        grid-column: 2/4;
        grid-row: 2/5;
        text-align: center;
        font-family:"Special Gothic Expanded One", sans-serif; 
        h2 {
            margin-bottom: 15px;
            font-size: 1.2rem;
         }
         img {
            border-radius: 68px 68px 68px 68px;
            box-shadow: 0px 15px 30px 5px rgba(87, 79, 79, 0.59);
            width: 400px;
        }
    }
    .div3-tecno {
        grid-column: 5/7;
        grid-row: 2/5;
        text-align: center;
        font-family:"Special Gothic Expanded One", sans-serif; 
        h2 {
            margin-bottom: 15px;
            font-size: 1.2rem;
         }
         img {
            border-radius: 68px 68px 68px 68px;
            box-shadow: 0px 15px 30px 5px rgba(87, 79, 79, 0.59);
            width: 400px;
        }
    }
}
.informacion {
    #information3{
        h3 {
            font-family:"Special Gothic Expanded One", sans-serif ;
            font-size: 2rem;
            margin-bottom: 25px;
        }
        h4 {
            font-family:"Special Gothic Expanded One", sans-serif ;
            font-size: 1.5rem;
        }
        p {
            font-size: 1.5rem;
            margin: 8px;
        }
        ol {
            font-size: 1.5rem;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }
    }
    #information4 {
        h3 {
            font-family:"Special Gothic Expanded One", sans-serif ;
            font-size: 2rem;
            margin: 25px;
        }
        h4 {
            font-family:"Special Gothic Expanded One", sans-serif ;
            font-size: 1.5rem;
        }
        p {
           font-size: 1.5rem;
            margin: 8px; 
        }
    }
}
@include mobile {
    .tecno {
        display: flex;
        flex-direction: column;
        align-items: center;
        .div1-tecno {
            margin: 25px ;
            font-size: 15px;
        }
        .div2-tecno {
            h2 {
                margin-bottom: 15px;
                font-size: 1.2rem;
             }
             img {
                @include img-mdp-mobile()
            }
        }
        .div3-tecno {
            h2 {
                margin-bottom: 15px;
                font-size: 1.2rem;
             }
             img {
                @include img-mdp-mobile()
            }
        }
    }
    .informacion {
        #information3{
            h3 {
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
            h4 {
                font-size: 1.3rem;
            }
            p {
                font-size: 1rem;
            }
            ol {
                font-size: 1rem;
                margin: 5px;
            }
        }
        #information4 {
            h3 {
                font-size: 1.5rem;
                margin: 20px;
            }
            h4 {
                font-size: 1.3rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}
@include tablet {
    .tecno {
        display: flex;
        flex-direction: column;
        align-items: center;
        .div1-tecno {
            h1 {
                margin: 25px ;
                font-size: 1.8rem;
            }    
        }
        .div2-tecno {
            h2 {
                margin-bottom: 15px;
                font-size: 1.2rem;
             }
             img {
                @include img-mdp-mobile()
            }
        }
        .div3-tecno {
            h2 {
                margin-bottom: 15px;
                font-size: 1.2rem;
             }
             img {
                @include img-mdp-mobile()
            }
        }
    }
    .informacion {
        #information3{
            h3 {
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
            h4 {
                font-size: 1.3rem;
            }
            p {
                font-size: 1rem;
            }
            ol {
                font-size: 1rem;
                margin: 5px;
            }
        }
        #information4 {
            h3 {
                font-size: 1.5rem;
                margin: 20px;
            }
            h4 {
                font-size: 1.3rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}
@include desktop {
    .tecno {
        display: flex;
        flex-direction: column;
        align-items: center;
        .div1-tecno {
            h1 {
                margin: 25px ;
                font-size: 2rem;
            }    
        }
        .div2-tecno {
            h2 {
                margin-bottom: 15px;
                font-size: 1.5rem;
             }
             img {
                @include img-mdp-mobile()
            }
        }
        .div3-tecno {
            h2 {
                margin-bottom: 15px;
                font-size: 1.5rem;
             }
             img {
                @include img-mdp-mobile()
            }
        }
    }
    .informacion {
        #information3{
            h3 {
                font-size: 1.8rem;
                margin-bottom: 20px;
            }
            h4 {
                font-size: 1.8rem;
            }
            p {
                font-size: 1.4rem;
            }
            ol {
                font-size: 1.4rem;
                margin: 5px;
            }
        }
        #information4 {
            h3 {
                font-size: 1.8rem;
                margin: 20px;
            }
            h4 {
                font-size: 1.8rem;
            }
            p {
                font-size: 1.4rem;
            }
        }
    }
}