
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;

}
header {
    background: #948160;
    color: white;  
}

.header-top {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header-top h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    margin-bottom: 5px;   
}
.header-top img {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 99px 99px 99px 99px;
    margin: 25px 0 0 25px;
}

.header-top p{
    font-family: "tinos", serif;
    font-weight: 500;
    font-size: 20px;
    color: #FCF596;
    margin-bottom: 25px;
}
.header-nav{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}
.header-nav a{
    color: #fff;
    text-decoration: none;
    align-content: center;
    padding: 1rem 1rem;
    margin-bottom: 15px;
    background-color: #4C4B16;
    border-radius: 5px;
    transition: 0.3s;
    
}
.header-nav a:hover{
    background-color: #6b6a25;
}

@media (max-width: 480px){
    .header-top h1 {
        font-size: 21px;
    }
    .header-top p {
        font-size: 17px;
    }
    .header-top img {
       margin: 15px;
    }
    .header-nav {
        gap: 4px;
        margin: 4px;
    }
    .header-nav a {
        padding: 9px;
        font-size: 10px;
    }

}

/*Presentacion index*/
.title-card {
    text-align: center;
    margin: 35px;
    padding: 25px;
    font-family: "Comic Neue";
    color: black;   
}
.title-card:hover {
    background: #85A947;
    color: #F5F5F5; 
}

.card-box h2 {
    font-family: "poppins,";
    font-size: 35px;
   
}
.card-box a, p, li {
    padding: 10px;
    list-style: none;
    font-family: "tinos", serif;
    text-decoration: none;
    color: #263238;
}
.leter {
    font-size: 22px;
    border-radius: 85px;
    transition: 0.2s;  
}
.leter:hover {
    color: #FCF596;
    font-size: 35px;
}

@media (max-width: 480px){
    .card-box h2 {
        font-size: 23px;
    }
    .leter {
        font-size: 15px;
    }
    .leter:hover {
        font-size: 20px ;
    }
}

/*Box litifero y metalifero*/
.div1 h2 {
    margin: 25px 0 30px 0;
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
}
.parent { 
    display: flex;
    justify-content: space-around;
    font-family: "Comic Neue";
    text-align: center;
}

.div2 img {
    width: 550px;
    height: 390px;
    border-radius: 10px;
    box-shadow: 7px 8px 14px 3px rgba(128,125,125,0.65);

}
.div3 img {
    width: 550px;
    height: 390px;
    border-radius: 10px;
    box-shadow: -7px 8px 14px 3px rgba(128,125,125,0.65);
}
.div2 .div3 a{
    text-decoration: none;
    margin: 15px;
}
.div2 .div3 p{
    font-size: 1.2em;
    color: #263238;
}

@media (max-width: 480px){
    .parent{
        flex-direction: column;
    }
    .div2 img {
        width: 320px;
        height: 280px;
        box-shadow: none;
    }
    .div3 img {
        width: 320px;
        height: 280px;
        box-shadow: none;
    }
}

/*logo fijo
.fixed-box {
    position: fixed;
    top: 550px;
    right: 15px;
}
.fixed-box img{
    border-radius: 200px;
    
}*/

/*footer*/
footer {
    position: relative;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 15px;

}
.footer-container :hover {
    background-color: #85A947;
}
.footer-container li, a {
    text-decoration: none;
    list-style: none;
    color: #FCF596;
}

.footer-container h5 {
    font-family: "Special Gothic Expanded One", sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px;
}  

.footer-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.2; 
        pointer-events: none; 
        
}
.footer-img img{
    border-radius: 200px;
}
.footer-top-1 {
    display: flex;
    grid-row: span 2 / span 2;
    background-color: #948160;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    justify-content:space-around;
    align-items: center;
}

.footer-top-2 {
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: #948160;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-content: center;
}

.footer-top-3 {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #948160;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-content: center;
    
}
        

.footer-copy{
    font-size: 11px;
    text-align: center;
    
}

@media (max-width: 480px){

    .footer-container{
        gap: 3px;
        margin: 8px;
        font-size: 10px;
    }
    .footer-container h5 {
        font-size: 10px;
        padding: 2px;
    }
    .footer-img {
        left: 50%;
        top: 43%;
    }
    .footer-container li {
        padding: 3px;
    }
    .footer-top-3 {
        text-align: center;
    }
}



/*Quienes-somos*/

.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;    
} 
.div1-qm {
    grid-column: span 4 / span 4;
    align-content: center;
    text-align: center;
}
.div1-qm h1 {
    font-family: "tinos", serif;
    font-size: 40px;
    
}
.div2-qm {
    grid-column: span 4 / span 4;
    grid-row-start: 2;
    text-align: center;
}
.div2-qm p {
    font-size: 1.1rem;
}
.div3-qm {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    text-align: center;
}

.div4-qm {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    text-align: center;
}

.div5-qm {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
    align-content: center;
    text-align: center;
}
 

/*metodos de perforacion*/
.parent-mp {
    background: #FDFAF6;
    align-content: center;
    
}
.parent-mp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}   
.div1-mp {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2; 
}
.div1-mp li {
    list-style: none;
    margin: 5px;
    border-radius: 75px 75px 75px 75px;
    border: 3px solid #546c79;
    background: #263238;
}
.div1-mp a {
    text-decoration: none;
    color: white;
}
.div2-mp {
    grid-column-start: 3;
}

.div3-mp { 
    grid-column-start: 4;
}
.div4-mp {  
    grid-column-start: 3;
    grid-row-start: 2;   
}       
.div2-mp img {
    box-shadow: -8px 6px 45px 3px rgba(148,139,139,0.35);
} 
.div3-mp img {
    box-shadow: -8px 6px 45px 3px rgba(148,139,139,0.35);
}      
.div4-mp img {
    box-shadow: 22px 41px 45px 3px rgba(148,139,139,0.35);
} 


