
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;

}
header {
    background: #948160;
    color: white;  
}

.header-top {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header-top h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    margin-bottom: 5px;   
}
.header-top img {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 99px 99px 99px 99px;
    margin: 25px 0 0 25px;
}

.header-top p{
    font-family: "tinos", serif;
    font-weight: 500;
    font-size: 20px;
    color: #FCF596;
    margin-bottom: 25px;
}
.header-nav{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}
.header-nav a{
    color: #fff;
    text-decoration: none;
    align-content: center;
    padding: 1rem 1rem;
    margin-bottom: 15px;
    background-color: #4C4B16;
    border-radius: 5px;
    
    
}
.header-nav a:hover{
    background-color: #6b6a25;
}

@media (max-width: 480px){
    .header-top h1 {
        font-size: 21px;
    }
    .header-top p {
        font-size: 17px;
    }
    .header-top img {
       margin: 15px;
    }
    .header-nav {
        gap: 4px;
        margin: 4px;
    }
    .header-nav a {
        padding: 9px;
        font-size: 10px;
    }

}

/*Presentacion index*/
.title-card {
    text-align: center;
    margin: 35px;
    padding: 25px;
    font-family: "Comic Neue";
    color: black;   
}
.title-card:hover {
    background: #85A947;
    color: #F5F5F5; 
}

.card-box h2 {
    font-family: "poppins,";
    font-size: 35px;
   
}
.card-box a, p, li {
    padding: 10px;
    list-style: none;
    font-family: "tinos", serif;
    text-decoration: none;
    color: #263238;
}
.leter {
    font-size: 22px;
    border-radius: 85px;
    transition: 0.2s;  
}
.leter:hover {
    color: #FCF596;
    font-size: 35px;
}

@media (max-width: 480px){
    .card-box h2 {
        font-size: 23px;
    }
    .leter {
        font-size: 15px;
    }
    .leter:hover {
        font-size: 20px ;
    }
}

/*Box litifero y metalifero*/
.div1 h2 {
    margin: 25px 0 30px 0;
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
}
.parent { 
    display: flex;
    justify-content: space-around;
    font-family: "Comic Neue";
    text-align: center;
}

.div2 img {
    width: 550px;
    height: 390px;
    border-radius: 10px;
    box-shadow: 7px 8px 14px 3px rgba(128,125,125,0.65);
}
.div2 h4{
    margin: 10px;
}
.div2 p {
    font-size: 15px;
    color: #263238;
}
.div3 h4{
    margin: 10px;
}
.div3 img {
    width: 550px;
    height: 390px;
    border-radius: 10px;
    box-shadow: -7px 8px 14px 3px rgba(128,125,125,0.65);
}
.div3 p{
    font-size: 15px;
    color: #263238;
}

@media (max-width: 480px){
    .parent{
        flex-direction: column;
    }
    .div2 img {
        width: 320px;
        height: 280px;
        box-shadow: none;
    }
    .div2 p {
        font-size: 12px;
    }
    .div3 img {
        width: 320px;
        height: 280px;
        box-shadow: none;
    }
    .div3 p {
        font-size: 12px;
    }
}
.container-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.container-videos h5 {
    font-family: "Special Gothic Expanded One", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px; 
}
/*footer*/

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin: 2rem;
}

.footer-container h5 {
    font-family: "Special Gothic Expanded One", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px;
}  
.footer-top-1 {
    background-color: #eeeded;
    grid-column: 1/3;
    grid-row: 1/3 ;
    align-content: center;
    justify-items: center;
    border: #cecece solid 1px;
    border-radius: 43px;
}
.footer-top-1 a {
    display: flex;
    text-decoration: none;
    color: black;
    margin: 25px 0 25px 10px;
    font-family: "Comic Neue";
}

.footer-top-2 {
    grid-column: 2/4;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    
}
.footer-top-2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 50px;
    border: #263238 solid 1px;
    border-radius: 50%; 
    
}

.footer-top-3 {
    background-color: #eeeded;
    grid-column: 3/5;
    grid-row: 1/3;
    justify-items: center;
    align-content: center;
    border: #cecece solid 1px; 
    border-radius: 43px;
}
.footer-top-3 a{
    font-family: "Comic Neue";
    display: flex;
    justify-content: center;
    margin: 8px;
    text-decoration: none;
    color: black;
}
.footer-copy{
    font-size: 11px;
    text-align: center;
    
}

@media (max-width: 480px){
    .footer-top-1 {
        font-size: 10px;
    }
    
    .footer-top-2 a {
        width: 25px;
        height: 16px;
    } 
    .footer-top-3 {
        font-size: 10px;
    }
    .footer-top-3 h5 {
        font-size: 12px;
    }
}



/*Quienes-somos*/
.container-grid {
    display: grid;
    grid-template-columns: (repeat(6,1fr));
    grid-template-rows: (repeat(6,1fr));
}
.div1-qs {
    grid-column: 3/5;
    grid-row: 1/2;
    text-align: center;
    margin: 25px;
}
.div1-qs h2 {
    font-family:"Special Gothic Expanded One", sans-serif;
}
.div2-qs {
    grid-column: 2/6;
    grid-row: 2/4;
    text-align: center;
    margin: 35px;
}
.div3-qs {
    grid-column: 2/6;
    grid-row: 4/6;
    margin: 1rem 0 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
}
.div4-qs {
    grid-column: 3/5;
    grid-row: 6/7;
    text-align: center;
}
.div4-qs a {
    text-decoration: none;
    color: black;
}
.div4-qs h4 {
    font-family:"Special Gothic Expanded One", sans-serif; 
}

@media (max-width: 480px){
    .div1-qs{
        font-size: 14px;
    }
    .div2-qs{
        font-size: 13px;
    }
    .div3-qs {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .div3-qs img{
        height: 75%;
        width: 80%;
        margin: 10px;
    }
    .div4-qs {
        font-size: 13px;
    }
}

/*metodos de perforacion*/
.parent-mp {
    background: #FDFAF6;
    align-content: center;
    
}
.parent-mp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}   
.div1-mp {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2; 
}
.div1-mp li {
    list-style: none;
    margin: 5px;
    border-radius: 75px 75px 75px 75px;
    border: 3px solid #546c79;
    background: #263238;
}
.div1-mp a {
    text-decoration: none;
    color: white;
}
.div2-mp {
    grid-column-start: 3;
}

.div3-mp { 
    grid-column-start: 4;
}
.div4-mp {  
    grid-column-start: 3;
    grid-row-start: 2;   
}       
.div2-mp img {
    box-shadow: -8px 6px 45px 3px rgba(148,139,139,0.35);
} 
.div3-mp img {
    box-shadow: -8px 6px 45px 3px rgba(148,139,139,0.35);
}      
.div4-mp img {
    box-shadow: 22px 41px 45px 3px rgba(148,139,139,0.35);
} 

/*Capacitaciones*/

